html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

.menu1 {
  margin: 0 auto;
  color: rgb(247, 245, 240);
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  padding: 0 14%;
  font: 14px sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu1__item {
  display: inline-block;
  border-right: 1px solid rgba(64, 150, 238, 0.5);
  margin: 0;
  padding: 0;
  background: -moz-linear-gradient(
    top,
    rgba(240, 249, 255, 1) 0%,
    rgba(203, 235, 255, 1) 47%,
    rgba(161, 219, 255, 1) 100%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(240, 249, 255, 1) 0%,
    rgba(203, 235, 255, 1) 47%,
    rgba(161, 219, 255, 1) 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(240, 249, 255, 1) 0%,
    rgba(203, 235, 255, 1) 47%,
    rgba(161, 219, 255, 1) 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#f0f9ff",
      endColorstr="#a1dbff",
      GradientType=0
    );
  /* IE6-9 */
}

.menu1__item_active {
  background: -moz-linear-gradient(
    top,
    rgba(122, 188, 255, 1) 0%,
    rgba(96, 171, 248, 1) 44%,
    rgba(64, 150, 238, 1) 100%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(122, 188, 255, 1) 0%,
    rgba(96, 171, 248, 1) 44%,
    rgba(64, 150, 238, 1) 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(122, 188, 255, 1) 0%,
    rgba(96, 171, 248, 1) 44%,
    rgba(64, 150, 238, 1) 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#7abcff",
      endColorstr="#4096ee",
      GradientType=0
    );
  /* IE6-9 */
  color: #f4f4f4;
}

.menu1__item.menu1__item_active a {
  color: #eaeaea;
}
.menu1__item a {
  text-decoration: none;
  color: #4c4c4c;
  display: block;
  padding: 10px 15px;
}

.menu1__item:first-child {
  border-left: 1px solid rgba(211, 215, 216, 0.226);
}

.menu1__item a:hover {
  background-color: #006cc9;
  color: #eaeaea;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1% 2%;
}

.content {
  margin: 15px auto;
  width: 100%;
}

.content input {
  margin: 10px;
  padding: 8px 0 8px 6px;
}

.content__info1 {
  background-color: #f3f3f3;
  width: 100%;
  padding: 15px;
}

.content__info2 {
  background-color: #d9dddd;
  width: 100%;
  padding: 15px;
}

.content__info3 {
  background-color: #e8eaec;
  width: 100%;
  padding: 15px;
}

.content__info4 {
  background-color: #d9dddd;
  width: 100%;
  padding: 15px;
}

.content__info5 {
  background-color: #f3f3f3;
  width: 100%;
  padding: 15px;
}

.accent-text {
  color: #006cc9;
}
